body {
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: hsl(194, 32%, 85%);
    font-family: Montserrat;

}

header {
    font-size: 30px;
    text-align: center;
    margin-top: 75px;
    color: rgb(21, 90, 99);
    margin-bottom: -36px;
}

.subheader {
    text-align: center;
    margin-top: 50px;
}

.tasks__form {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.tasks__input {
    padding:20px;
    width: 300px;
    font-size: 18px;
    border: none;
    outline: none;
    margin-right: 20px;
    background: rgb(21, 90, 99);
    color: white;
    font-family: Montserrat thin;
}

::placeholder {
    color: white;
}

.tasks__submit {
    width: 70px;
    font-family: Montserrat;
    font-size: 20px;
    background-color: rgb(184, 88, 144);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

.tasks__submit:hover {
    background-color: rgb(199, 75, 147);
}

.tasks__list__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 34px;
}

.tasks__list {
    list-style-type: none;
    width: 800px;
    font-size: 20px;
    margin: 50px;
}

.js-done {
    margin: 4px;
    border: 0;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 34px;
    color: rgb(21, 90, 99);
    margin-right: 20px;
}

.js-clear {
    margin: 4px;
    border: 0;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 34px;
    color: rgb(143, 21, 21);
    margin-right: 20px;
}

.buttons__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 6px;
}

@media (max-width: 750px) {

    .tasks__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tasks__submit {
        width: 300px;
        margin: 10px 0 0 0;
        height: 50px;
        border-radius: 30px;
    }

    .tasks__input {
        width: 300px;
        margin: 0;
    }

    .tasks__list {
        padding:0;
        margin:0;
        font-size: 17px;
    }


}